<configuration>
    <property name="LOG_FILE_NAME" value="${catalina.base}/logs/validation/ValidationSvc" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE_NAME}.log</file>
        <encoder>
            <pattern>%d | %level | %logger{35} | %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_NAME}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>20</maxHistory>
        </rollingPolicy>
    </appender>


    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>

    <include resource="${spring.profiles.active}/logback.xml"/>
</configuration>